<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/head :: head}"></head>
<body>
<div class="w-screen h-screen px-12 py-16">
    <!--  Container  -->
    <div class="h-full rounded-2xl w-full drop-shadow-xl overflow-hidden bg-gray-50">
        <div class="grid grid-cols-10 gap-2 flex-nowrap h-full w-full">
            <div th:replace="layouts/sidebar :: sidebar"></div>

            <div class="col col-span-8 mx-8 my-12 px-8 py-4 rounded-lg text-gray-800 bg-white h-100 drop-shadow-md">
                <div class="container max-w-7xl mx-auto mt-8">
                    <div class="mb-4">
                        <h1 class="flex items-center text-3xl font-bold dark:text-white">Thêm mới chủ đề</h1>
                    </div>
                    <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>