<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layouts/head :: head}"></head>
<body>
<div th:replace="layouts/info :: info"></div>
<div class="w-screen h-screen px-12 py-16">
    <!--  Container  -->
    <div class="h-full rounded-2xl w-full drop-shadow-xl overflow-hidden bg-gray-50">
        <div class="grid grid-cols-10 gap-2 flex-nowrap h-full w-full">
            <div th:replace="layouts/sidebar :: sidebar"></div>

            <div class="scroll-page col col-span-8 overflow-y-auto mx-8 my-12 px-8 py-4 rounded-lg text-gray-800 bg-white h-100 drop-shadow-md">
                <div class="flex flex-row items-center justify-center gap-10 container max-w-7xl mx-auto mt-8">
                    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow-md">
                        <a href="#">
                            <img class="rounded-t-lg" th:src="*{product.getPicture().getUrl()}" alt="" />
                        </a>
                        <div class="p-5">
                            <div href="#" class="flex flex-col justify-start items-start gap-2 text-gray-900 py-2 font-medium rounded-lg text-sm px-3 py-1 text-center mr-2 mb-2">
                                <div>
                                    <span class="inline-flex items-center text-green-500 bg-gradient-to-br from-green-50 to-green-100 hover:bg-gradient-to-bl focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-xl px-4 py-2 mx-2 text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                          <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                                        </svg>
                                    </span>
                                    <span th:text="${product.getTitle()}" class="mb-2 text-2xl font-bold tracking-tight text-gray-900"></span>
                                </div>
                            </div>
                            <div href="#" class="flex flex-col justify-start items-start gap-2 text-gray-900 py-2 font-medium rounded-lg text-sm px-3 py-1 text-center mr-2 mb-2">
                                <div>
                                    <span class="inline-flex items-center text-green-500 bg-gradient-to-br from-green-50 to-green-100 hover:bg-gradient-to-bl focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-xl px-4 py-2 mx-2 text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </span>
                                    <span th:text="${product.getFormatPrice()}" class="mb-2 text-xl font-medium tracking-tight text-gray-900"></span>
                                </div>
                            </div>
                            <p th:text="${product.getDescription()}" class="m-3 font-normal text-gray-700">l</p>
                            <a href="" th:href="@{/products/edit/{id}(id = ${product.getId()})}" type="button" class="inline-flex items-center text-green-500 bg-gradient-to-br from-green-50 to-green-100 hover:bg-gradient-to-bl focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg>
                                <span class="px-2">Chỉnh sửa</span>
                            </a>
                        </div>
                    </div>

                    <div class="flex flex-col gap-5 w-full max-w-sm">
                        <div class="w-full max-w-sm p-2 bg-white border rounded-lg shadow-md sm:p-3 dark:bg-gray-800 dark:border-gray-700">
                            <a href="#" class="flex items-center p-1.5 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <span class="inline-flex items-center text-green-500 bg-gradient-to-br from-green-50 to-green-100 hover:bg-gradient-to-bl focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-xl px-1 py-1 mx-2 text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                                    </svg>
                                </span>
                                <span th:text="${product.getDesign().getTitle()}" class="flex-1 ml-3 whitespace-nowrap"></span>
                            </a>
                        </div>
                        <div class="w-full max-w-sm p-2 bg-white border rounded-lg shadow-md sm:p-3 dark:bg-gray-800 dark:border-gray-700">
                            <ul th:each="occasion: ${product.getOccasions()}" class="my-3 space-y-2">
                                <li >
                                    <a href="#" class="flex items-center p-1.5 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="inline-flex items-center text-green-500 bg-gradient-to-br from-green-50 to-green-100 hover:bg-gradient-to-bl focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-xl px-1 py-1 mx-2 text-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                                            </svg>
                                        </span>
                                        <span th:text="${occasion.getTitle()}" class="flex-1 ml-3 whitespace-nowrap"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="w-full max-w-sm p-2 bg-white border rounded-lg shadow-md sm:p-3 dark:bg-gray-800 dark:border-gray-700">
                            <ul th:each="flower: ${product.getFlowers()}" class="my-3 space-y-2">
                                <li >
                                    <a href="#" class="flex items-center p-1.5 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="inline-flex items-center text-green-500 bg-gradient-to-br from-green-50 to-green-100 hover:bg-gradient-to-bl focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-xl px-1 py-1 mx-2 text-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                                            </svg>
                                        </span>
                                        <span th:text="${flower.getKind() + ' - ' + flower.getColor().getDisplayValue()}" class="flex-1 ml-3 whitespace-nowrap"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>